body {
  width: 800px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #eeeeee;
}
header {
  height: 200px;
  background-image: url(../images/castro_banner.jpg);
}
h1{
  padding: 3px 15px;
}
h1 a {
  font-size: 36px;
  color: #cc0000;
  font-weight: bold;
  text-decoration: none;
}
.search-input {
  margin: 3px 25px;
  width: 175px;
  color: #cc0000;
  border-color: #cc0000;
  border-radius: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  text-align: center;
}

.main-section-wrapper {
  height: 600px;
  width:100%;
  overflow: hidden;
}

.main{
  margin:auto;
  padding: 25px 0;
  color: #cc0000;
  text-align: center;
  height: 100%;
  position: relative;
  top: 0;
}
.main p {
  margin: 15px auto;
}
.main li {
  margin: 10px auto;
}

section#map {
  height: 100%;
  position: relative;
  top: 0;
}

.search-bar {
  width: 800px;
  height: 141px;
}
.collapsed-search-bar {
  width: 800px;
  height: 35px;
  display: none;
  background-color: #eeeeee;
}
.slide-button {
  margin: 5px 15px;
  width: 130px;
  height: 25px;
  cursor: pointer;
  color: #cc0000;
  border-color: #cc0000;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
.search-bar div {
  float: left;
  margin: 0 5px;
}

.map-button {
  cursor: pointer;
  width: 246px;
  height: 141px;
  background-image: url(../images/searchbar/map_button.png);
}

.street-a-z {
  cursor: pointer;
  width: 246px;
  height: 141px;
  background-image: url(../images/searchbar/street-a-z-button.png);
}

.area-a-z {
  cursor: pointer;
  width: 246px;
  height: 141px;
  background-image: url(../images/searchbar/area-a-z-button.png);
}

.search-result {
  display: none;
  margin:auto;
  padding: 25px 0;
  color: #cc0000;
  text-align: center;
}

.footer {
  height: 50px;
}
.footer div {
  background-color: #cc0000;
  margin: auto;
  padding: 5px 0;
}
.footer div p {
  color: white;
  margin: 15px auto;
  text-align: center;
}
